.block {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.taskButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.taskButton {
    padding: 8px;
}

.taskButton:hover {
    background: #3c3c3c;
}

.taskText {
    padding: 0 8px 0 8px
}

.taskButton {
    border: 2px solid #303030;
    border-radius: 8px;
}